<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="backDes"></ion-back-button>
    </ion-buttons>
    <ion-title>Prediction Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-radio-group [(ngModel)]="selectedDrivers" name="drivers">
    <ion-list-header>
      <ion-label>Select who you think will finish in the top 3 of the race!</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let driver of drivers">
      <ion-label>{{driver.name}}</ion-label>
      <ion-radio value="{{driver.id}}"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-button (click)="saveSelections()">Save Selections</ion-button>
</ion-content>
