<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formula 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    Formula 1 App, for the current 2024 season.
  </div>
  <div id="button">
    <ion-button (click)="getBrowser()">Official F1 Website</ion-button>
    <br>
    <ion-button [routerLink]="['/standings']">Current Standings</ion-button>
    <br>
    <ion-button [routerLink]="['/track-info']">Track Info</ion-button>
    <br>
    <ion-button [routerLink]="['/current-info']">Current Info</ion-button>
  </div>
</ion-content>
